<div class="login-form">
    <form>
        {{{ title }}}

        {{{ loginInput }}}
        {{{ passwordInput }}}

        <div class="button-signin">
            {{{ button }}}
        </div>

        {{{ regLink }}}

    </form>
</div>
