<form class="login-form">
    {{{ title }}}

    {{{ loginInput }}}
    {{{ passwordInput }}}

    <div class="button-signin">
        {{{ button }}}
    </div>

    {{{ error }}}

    {{{ regLink }}}

</form>
