<div class="chats-link">
    {{{ toChatsLink }}}
</div>


{{{ title }}}
{{{ logoutLink }}}
{{{ changePasswordLink }}}


{{{ imageSelect }}}
<div class="button-save-avatar">
    {{{ updateAvatarLink }}}
</div>

<form id="profile-data-form" class="profile-form">
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ displayNameInput }}}
    {{{ loginInput }}}
    {{{ emailInput }}}
    {{{ phoneInput }}}

    <div class="button-save">
        {{{ button }}}
    </div>

    {{{ error }}}

</form>
