<div class="chats-link">
    {{{ toChatsLink }}}
</div>

<div class="profile-header">
    {{{ title }}}
    {{{ logoutLink }}}
    {{{ changePasswordLink }}}
</div>


<div class="avatar-block">
    {{{ imageSelect }}}
    {{{ updateAvatarLink }}}
</div>


<form id="profile-data-form" class="profile-form">
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ displayNameInput }}}
    {{{ loginInput }}}
    {{{ emailInput }}}
    {{{ phoneInput }}}

    <div class="button-save">
        {{{ button }}}
    </div>

    {{{ error }}}

</form>
