<form class="profile-form">
    {{{ title }}}

    {{{ logoutLink }}}
    {{{ changePasswordLink }}}

    {{{ imageSelect }}}
    <div class="button-save-avatar">
        {{{ updateAvatarLink }}}
    </div>
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ displayNameInput }}}
    {{{ loginInput }}}
    {{{ emailInput }}}
    {{{ phoneInput }}}

    <div class="button-save">
        {{{ button }}}
    </div>

    <div>
        {{{ error }}}
    </div>

</form>
