<div class="profile-form">
    <form>
        {{{ title }}}

        <div class="links">
            {{{ logoutLink }}}
            {{{ changePasswordLink }}}
        </div>

        {{{ imageSelect }}}
        {{{ firstNameInput }}}
        {{{ secondNameInput }}}
        {{{ displayNameInput }}}
        {{{ loginInput }}}
        {{{ emailInput }}}
        {{{ phoneInput }}}

        <div class="button-save">
            {{{ button }}}
        </div>

    </form>
</div>
