<div class="reg-form">
    <form>
        {{{ title }}}

        {{{ firstNameInput }}}
        {{{ secondNameInput }}}
        {{{ loginInput }}}
        {{{ emailInput }}}
        {{{ phoneInput }}}
        {{{ passwordInput }}}
        {{{ password2Input }}}

        <div class="button-signup">
            {{{ button }}}
        </div>

    </form>
</div>
