<form class="new-password-form">
    {{{ title }}}

    {{{ passwordCurrent }}}
    {{{ passwordSet }}}
    {{{ passwordSetRepeat }}}

    <div class="button-save">
        {{{ button }}}
    </div>

    {{{ error }}}

    {{{ OnSaveDialog }}}

</form>
