<div class="new-password-form">
    <form>
        {{{ title }}}

        {{{ passwordCurrent }}}
        {{{ passwordSet }}}
        {{{ passwordSetRepeat }}}

        <div class="button-save">
            {{{ button }}}
        </div>

    </form>
</div>
